body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0;

  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);

  background-color: #ffffff;
}

.catalog img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-navigation {
  position: relative;

  width: 100%;

  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left:50%;
  margin-left: -70px;
}


.site-navigation {
  display: flex;

  list-style: none;
  font-weight: bold;

  margin: 0;
  padding: 15px 72px;
  flex-wrap: wrap;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item {
  width: 240px;
}

.nav-item:nth-child(3-n) {
  text-align: left;
}

.nav-item:nth-child(n+3) {
  text-align: right;
}

.nav-item:nth-child(2) {
  margin-right: auto;
}

.promo {
  background-image: url("../img/background-photo.jpg");
  background-position: 0 -82px;
  background-repeat: no-repeat;
  background-color: #ddebf4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 76px;
}

.descript {
  margin-top: 79px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  width: 100%;
  padding-top: 61px;
  padding-bottom: 50px;
}

.descript p {
  text-align: center;
}

.descript-title {
  font-weight: bold;
  font-size: 21px;

  width: 440px;
  margin: 0;
  margin-bottom: 29px;
}

.descript-text {
  margin: 0;
  color: #333333;
  max-width: 500px;
}

.descript::before {
  content: "";

  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 59px;

  position: absolute;
  top: -57px;
  left: 0;

}

/* Преимуществаааа */

.features {
  position: relative;
  z-index: 2;
}

.feature-item {
  display: flex;
}

.feature-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  line-height: 21px;

  padding-top: 46px;
  width: 400px;
}

.feature-text h3 {
  margin: 0;

  font-weight: bold;
  font-size: 21px;
}

.feature-text:first-child h3 {
  width: 140px;
}

.feature-text p {
  width: 303px;
  margin: 0;
}

.feature-text span {
  display: block;
  margin: 25px 0;
  margin-bottom: 21px;
}

.recomend-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.recomend {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 21px;
  text-align: center;

  width: 400px;
  min-height: 330px;

  padding-bottom: 83px;
  box-sizing: border-box;
}

.recomend-housing {
  background-image:  url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.recomend-food {
  background-image:  url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center 62px;
}

.recomend-souvenir {
  background-image:  url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center 56px;
}

.recomend p {
  color: #333333;

  margin: 0;
}

.recomend-housing p {
  width: 252px;
}

.recomend-food p {
  width: 285px;
}

.recomend-souvenir p {
  width: 273px;
}

.recomend h3 {
  margin: 0;
  margin-top: auto;
  margin-bottom: 24px;

  font-size: 21px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;

  z-index: 2;
}

.features-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 48px;
  padding-bottom: 58px;

  text-align: center;
  background-color: #eeeeee;
  line-height: 21px;
}

.features-list h3 {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  width: 117px;
}

.features-list p {
  margin: 0;
  color: #333333;
}

.features-list span {
  display: block;
  margin: 22px 0;

  color: #333333;
}

.features-list .first-p {
  width: 208px;
}

.features-list .second-p {
  width: 262px;
}

.features-list .third-p {
  width: 250px;
}

/* Заинтересовались */

.interested {
  position: relative;

  text-align: center;
  padding-top: 52px;

  background-color: #ffffff;
  z-index: 2;
}

.interested b {
  line-height: 36px;
  font-size: 30px;
}

.interested .instruction {
  color: #333333;
  line-height: 24px;

  margin: 0;
  margin-bottom: 44px;
  margin-top: 23px;
}

.search-link {
  display: block;

  width: 568px;

  font-size: 21px;
  color: #ffffff;
  font-weight: bold;

  background-color: #766357;

  padding: 29px 0 30px 0;
  margin-left: 316px;
}

.search-link:hover {
  background-color: #604e43;
}

.search-link:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup {
  display: block;

  background-color: #ffffff;
  box-sizing: border-box;

  position: absolute;
  left: 50%;
  margin-left: -284px;

  width: 568px;
  padding: 55px;
  padding-left: 57px;

  transition: all 0.6s;

  z-index: 1;
}

.popup-error {
  animation: shake 0.6s;
}

.popup-close {
  margin-top: -400px;
}

.popup p {
  font-weight: bold;
  margin-bottom: 30px;
}

.popup input {
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: none;
  font: inherit;
  text-transform: uppercase;

  padding-top: 5.4px;
  padding-bottom: 7px;

  position: relative;
}

.popup input:hover {
  background-color: #ebebeb;
}

.popup input:focus {
  background-color: transparent;
  outline: none;
  outline: 2px solid #e5e5e5;
}

.date input {
  padding-left: 13px;
  width: 346px;
}

.date {
  position: relative;

  display: flex;
  align-items: center;

  margin: 0;
}

.date label {
  margin-right: auto;
}

.date button {
  position: absolute;

  outline: none;
  border: none;
  padding: 0;
  right: 10px;
  top: 7px;
  background-color: transparent;

  cursor: pointer;
}

.calendar path {
  fill: #a9a9a9;
}

.calendar:hover path {
  fill: #000000;
}

.calendar:focus path {
  fill: #81b3d2;
}

.person-amount {
  display: flex;
}

.person {
  display: flex;
  align-items: center;

  margin: 0;
}

.person input {
  width: 38px;
  text-align: center;
}

.person-amount button {
  border: none;
  width: 38px;
  height: 38px;
  padding: 0;
  color: #bdbbbc;
  font-weight: bold;
  font-size: 20px;

  cursor: pointer;
}

.person-amount button:hover {
  color: #000000;
}

.person-amount button:focus {
  color: #81b3d2;
  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.adults label {
  margin-right: 41px;
}

.kids {
  margin-left: auto;
}

.kids label {
  margin-right: 27px;
}

.search-button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;

  padding: 17.5px 0;
  padding-top: 14px;
  width: 458px;
  border: none;
  margin-top: 24px;

  cursor: pointer;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

iframe {
  position: absolute;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
}

.main-footer {
  display: flex;

  padding: 0;
  padding-top: 36px;
  padding-bottom: 31px;

  background-color: #ffffff;
  opacity: 0.9;
  width: 100%;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 400px;
  padding-left: 132px;
  margin: 0;
  margin-top: -5px;
  box-sizing: border-box;
}

.footer-contacts a {
  color: #000000;
  display: block;
  margin-top: 6px;
}

.footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  width: 400px;


  list-style: none;
  text-align: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 6px;

  background-color: #81b3d2;
}

.social-button:focus path {
  opacity: 0.3;
}

.footer-social:last-child {
  margin-right: 0;
}

.footer-social a {
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:focus {
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;

  margin: 0;
}

.footer-copyright span {
  margin-right: 8px;

  align-self: center;
}

.copyright-logo {
  width: 115px;
  height: 41px;
}

.copyright-logo:hover path {
  fill: #81b3d2;
}

.copyright-logo:focus path {
  fill: #bdbbbc;
}

/* Каталог */

.current {
  color: #766357;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-position: 0 -300px;
  background-repeat: no-repeat;
  background-color: #81b3d2;

  color: #ffffff;
  line-height: 21px;

  padding: 26px 72px 30px 72px;
}

.filter-wrapper {
  display: flex;
}

.filter fieldset {
  border: none;
  padding: 0;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter li {
  margin-bottom: 25px;
}

.filter li:last-child {
  margin-bottom: 0;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.infra {
  margin: 0;
  margin-right: 118px;
}

.infra legend,
.housing legend {
  margin-bottom: 26px;
}

.housing {
  margin: 0;
}

.cost {
  margin: 0;
  margin-left: auto;
}

.cost legend {
  margin-bottom: 9px;
}

.filter-checkbox {
  cursor: pointer;
  padding-top: 3px;
  margin-left: 40px;

  position: relative;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;

  position: absolute;
  top: 0;
  left: -40px;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
  width: 27px;
  height: 23px;

  position: absolute;
  top: 0;
  left: -40px;
}

.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  background-image: url("../img/checkbox-on-2.svg");
  width: 27px;
  height: 23px;
  opacity: 0.3;

  position: absolute;
  top: 0;
  left: -40px;
}

.price-controls {
  position: relative;

  width: 314px;
  margin-bottom: 20px;
  padding: 5px 0;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost input::-webkit-outer-spin-button,
.cost input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.cost input[type=number] {
  -moz-appearance: textfield;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;

  cursor: pointer;
}

.price-controls .min-price {
  padding-left: 65px;
}
.price-controls .max-price {
  padding-left: 76px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  position: relative;
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .scale::after {
  content: "";

  height: 2px;
  width: 80%;
  background: #ffffff;

  position: absolute;
}

.range-toggle {
  position: absolute;
  top: -9px;

  padding: 0;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 96px 0 85px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort {
  display: flex;
  align-items: baseline;

  padding: 28px 72px;
}

.sort p {
  margin: 0;
  margin-right: 49px;

  font-size: 21px;
  font-weight: bold;
}

.sort-type {
  list-style: none;
  font-size: 12px;
  line-height: 18px;

  display: flex;
  margin: 0;
  padding: 0;
}

.sort-title {
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-type a {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-type li:first-child a {
  color: #81b3d2;
  border: none;
}

.sort-type a:hover {
  color: #81b3d2;
}

.sort-type a:focus {
  color: #000000;
  border: none;
}

.sort-type li:last-child {
  margin-right: 0;
}

.up-button {
  margin-left: auto;
  margin-right: 10px;
}

.up-button path {
  fill: #cacaca;
}

.up-button:hover path,
.down-button:hover path {
  fill: #000000;
}

.up-button:focus path,
.down-button:focus path {
  fill: #81b3d2;
}

.down-button path {
  fill: #81b3d2;
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-list li {
  position: relative;
  display: flex;
  padding: 30px 73px;

  border-top: 1px solid #f2f2f2;
}

.hotels-list li:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.buttons-wrapper {
  margin-top: auto;
}

.hotel-picture {
  display: flex;
 }

.hotel-raiting {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.hotel-stars {
  margin-left: auto;
}

.hotel-raiting span {
  margin-top: auto;

  display: block;

  color: #666666;
  padding: 0px 13px 0px 16px;
  background-color: #f2f2f2;
}

.hotel-name {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-top: -5px;
}

.hotel-name:hover {
  color: #81b3d2;
}

a:focus .hotel-name{
  color: rgba(0, 0, 0, 0.3);
}

.hotels-list p {
  display: flex;
  justify-content: space-between;

  width: 180px;

  color: #333333;
  line-height: 21px;

  margin: 0;
  margin-top: 6px;
}

.button {
  display: inline-block;
  padding: 3px 17px;
  margin-right: 1px;
  vertical-align: middle;
}

.reserve-button {
  color: #ffffff;
  background-color: #766357;
  line-height: 21px;
  font-weight: bold;
}

.detail-button {
  color:#ffffff;
  background-color: #81b3d2;
  line-height: 21px;
  font-weight: bold;
}

.reserve-button:hover {
  background-color: #604e43;
}

.detail-button:hover {
  background-color: #669ec0;
}

.reserve-button:focus {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.detail-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
