body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-navigation-wrapper {
    width: 100%;
    background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left:50%;
  margin-left: -70px;
}


.site-navigation {
  display: flex;

  list-style: none;
  font-weight: bold;

  margin: 0;
  padding: 22px 0;
  flex-wrap: wrap;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item {
  width: 239px;
  text-align: center;
}

.nav-item:nth-child(2) {
  margin-right: auto;
}

.promo {
  background-image: url("../img/background-photo.jpg");
  background-position: 0 -75px;
  background-repeat: no-repeat;
  background-color: #ddebf4;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 675px;
  justify-content: space-between;
  padding-top: 76px;
}

.descript {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  width: 100%;
  padding-top: 61px;
  padding-bottom: 46px;
}

.descript p {
  text-align: center;
}

.descript-title {
  font-weight: bold;
  font-size: 21px;

  width: 440px;
  margin: 0;
  margin-bottom: 34px;
}

.descript-text {
  margin: 0;
  color: #333333;
}

/* Преимуществаааа */

.feature-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.feature-item {
  display: flex;
}

.feature-text {
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  line-height: 21px;

  padding-top: 46px;
  padding-left: 60px;
  padding-right: 60px;
  width: 400px;
}

.feature-text h3 {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
}

.feature-text p {
  margin: 0;
}

.feature-text span {
  display: block;
  margin: 22px 0;
}

.recomend-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.recomend {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 21px;
  text-align: center;

  width: 400px;
  min-height: 330px;

  padding-bottom: 83px;
  box-sizing: border-box;
}

.recomend-housing {
  background-image:  url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.recomend-food {
  background-image:  url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center 62px;
}

.recomend-souvenir {
  background-image:  url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center 56px;
}

.recomend p {
  color: #333333;

  margin: 0;
}

.recomend-housing p {
  width: 252px;
}

.recomend-food p {
  width: 284px;
}

.recomend-souvenir p {
  width: 273px;
}

.recomend h3 {
  margin: 0;
  margin-top: auto;
  margin-bottom: 24px;

  font-size: 21px;
}

/* .recomend-housing::before {
  content: "";

  width: 75px;
  height: 72px;
  top: -30px;
  position: absolute;
  background-image: url("../img/icon-1.svg");
} */



.features-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.features-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 58px;

  text-align: center;
  background-color: #eeeeee;
  line-height: 21px;
}

.features-list h3 {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  width: 117px;
}

.features-list p {
  margin: 0;
  color: #333333;
}

.features-list span {
  display: block;
  margin: 22px 0;

  color: #333333;
}

.features-list .first-p {
  width: 208px;
}

.features-list .second-p {
  width: 262px;
}

.features-list .third-p {
  width: 246px;
}

/* Заинтересовались */

.interested {
  text-align: center;
  padding-top: 48px;

  background-color: #ffffff;
}

.interested b {
  line-height: 36px;
  font-size: 30px;
}

.interested .instruction {
  color: #333333;
  line-height: 24px;

  margin: 0;
  margin-bottom: 47px;
  margin-top: 26px;
}

.interested a {
  display: block;
  width: 568px;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
  padding: 35px 0 33px 0;
  margin-left: 316px;
}

.interested a:hover {
  background-color: #604e43;
}

.interested a:focus {
  background-color: #503e33;
  opacity: 0.3;
}

.popup {
  display: none;
}

.main-footer {
  display: flex;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 31px;
  background-color: #ffffff;
  opacity: 0.9;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;

  min-height: 48px;
  width: 400px;
  margin: 0;
  padding-left: 132px;
  box-sizing: border-box;
}

.footer-contacts a {
  color: #000000;
}

.footer-social {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 400px;
  flex-wrap: wrap;

  list-style: none;
  text-align: center;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 6px;

  background-color: #81b3d2;
}

.social-button:focus path {
  opacity: 0.3;
}

.footer-social:last-child {
  margin-right: 0;
}
/* .social-item {
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social-item:last-child {
  margin-right: 0;
} */

.footer-social a {
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:focus {
  background-color: #5496bd;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright {
  /* width: 400px; */
  margin: 0;
  margin-right: 101px;
  margin-left: auto;
}

/* Каталог */

.current {
  color: #766357;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-position: 0 -300px;
  background-repeat: no-repeat;
  background-color: #81b3d2;

  color: #ffffff;
  line-height: 21px;
}

.filter-wrapper {
  display: flex;
  padding: 31px 72px;
}

.filter fieldset {
  border: none;
  padding: 0;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
}

.infra {
  margin: 0;
  margin-right: 115px;
}

.housing {
  margin: 0;
}

.cost {
  margin: 0;
  margin-left: auto;
}

.sort {
  display: flex;
  padding: 33px 72px;
  background-color: #ffffff;
}

.sort p {
  margin: 0;
  margin-right: 49px;

  font-size: 21px;
  font-weight: bold;
}

.sort-type {
  list-style: none;
  font-size: 12px;
  line-height: 18px;

  display: flex;
  margin: 0;
  padding: 0;
}

.sort-title {
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-type li {
  margin-right: 30px;
}

.sort-type li:last-child {
  margin-right: 0;
}

.catalog {
  background-color: #ffffff;
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-list li {
  display: flex;
  padding: 30px 73px;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.buttons {
  margin-top: auto;
}

.hotel-picture {
  display: flex;
 }

.hotel-raiting {
  margin-left: auto;
  /* временно */
  min-height: 90px;
}

.hotel-name {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.hotel-name:hover {
  color: #81b3d2;
}

a:focus .hotel-name{
  color: rgba(0, 0, 0, 0.3);
}

.hotels-list p {
  color: #333333;
  line-height: 21px;

  margin: 0;
  margin-top: 9px;
}

.reserve-button {
  color: #ffffff;
  background-color: #766357;
  line-height: 21px;
  font-weight: bold;
}

.detail-button {
  color:#ffffff;
  background-color: #81b3d2;
  line-height: 21px;
  font-weight: bold;
}

.reserve-button:hover {
  background-color: #604e43;
}

.detail-button:hover {
  background-color: #669ec0;
}

.reserve-button:focus {
  background-color: #503e33;
  opacity: 0.3;
}

.detail-button:focus {
  background-color: #5496bd;
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
